.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.todo{
  border: 1px solid greenyellow;
  width: 30%;

}

.inputdiv{
  background-color: white;
  width: 20%;
  margin: auto;

 
}
.pbtn{
  height: 35px;
  margin-right: 5px;
  font-size: 30px;
  border: 1 px solid green;
  border-right: 1px solid black;
}
.pbtn+input{
  margin-top: 0px;
  border: 0px;
  height: 30px;
  width: 83%;
  border: 1 px solid;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}